<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header class="header">
      <%- include('../partials/header'); %>
    </header>

 EM BREVE
    <footer class="footer">
      <%- include('../partials/footer'); %>
    </footer>
</body>

</html>

